language: scala
sudo: false
matrix:
  include:
    - scala: 2.10.6
      script: ./sbt "+++$TRAVIS_SCALA_VERSION clean" "+++$TRAVIS_SCALA_VERSION test" "+++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues"

    - scala: 2.11.8
      script: ./sbt ++$TRAVIS_SCALA_VERSION clean coverage scalafmtTest test coverageReport mimaReportBinaryIssues
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - scala: 2.12.1
      jdk: oraclejdk8
      script: ./sbt ++$TRAVIS_SCALA_VERSION clean test

cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.nvm

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/823bad727793c3cd3caf
    on_success: change
    on_failure: always
    on_start: never
