language: scala
sudo: false
matrix:
  include:
    - scala: 2.11.12
      jdk: openjdk8
      script:
        - >
          sbt
          "++$TRAVIS_SCALA_VERSION clean"
          "++$TRAVIS_SCALA_VERSION test"

    - scala: 2.13.8
      jdk: openjdk8
      script:
        - >
          sbt
          "++$TRAVIS_SCALA_VERSION clean"
          "++$TRAVIS_SCALA_VERSION test"

    - name: scalafmtCheck
      scala: 2.12.16
      jdk: openjdk8
      script: sbt scalafmtCheckAll scalafmtSbtCheck

    - scala: 2.12.16
      jdk: openjdk8
      script:
        - >
          sbt
          coverage
          "++$TRAVIS_SCALA_VERSION clean"
          "++$TRAVIS_SCALA_VERSION test"
          "++$TRAVIS_SCALA_VERSION coverageReport"
          "++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues"
      after_success:
        - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $HOME/.sbt/boot/scala*
    - $HOME/.sbt/launchers
    - $HOME/.ivy2/cache
    - $HOME/.nvm

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/823bad727793c3cd3caf
    on_success: change
    on_failure: always
    on_start: never
